*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.nav-link{
    display: flex;
    justify-content: space-between;
    padding: 0px 5%;
    height: 50px;
    background-color: #333;
    align-items: center;
}

.nav-link h2{
    color: #3200ff;
    font-size: 30px;
    font-weight: bold;
}

.nav-link span{
    color: white;
    font-size: 20px;
}

.nav-link ul{
    display: flex;
}

.nav-link ul li{
    list-style: none;
}

.nav-link ul li a{
    margin: 20px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

button{
    border: none;
    background: linear-gradient(96.49deg,#f16262,#3200ff 102.71%);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.fast{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 5%;
}
.fast ul li{
    list-style: none;
    margin-top: 5px;
}